<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
        <div class = "container">
            <div class = "row">
                <div class = "col-lg-69 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class = "text-center"> Create New Student</h1>
                    <div class = "card-body">
                        <form th:action = "@{/student/students/new}" method = "POST">
                            <div class = "form-group">
                                <label> Student Name </label>
                                <input
                                        minlength="2"
                                    type = "text"
                                    id = "name"
                                    name = "name"
                                    class="form-control"
                                    placeholder= "Enter Student Name"
                                    />
                            </div>
                            <div class = "form-group">
                                <label> Student Email </label>
                                <input
                                        type = "email"
                                        id="email"
                                        name="email"
                                        class="form-control"
                                        placeholder= "Enter Student Email"
                                />
                            </div>
                            <div class = "form-group">
                                <label> Student Date of Birth </label>
                                <input
                                        th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                        type = "date"
                                        id ="date"
                                        name="dob"
                                        dob = "dob"
                                        class="form-control"
                                        placeholder= "Enter Student Date of Birth"
                                />
                            </div>

                            <div class = "box-footer">
                                <button type = "submit" class = "btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>